.container-fluid{
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-image:url("./img/hero.jpeg");
    padding-top:40px;
    min-height:100vh;
    z-index: 0;
}

